body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  transition: all 0.3s ease; }
  body.darkmode {
    background: #000;
    color: #fff; }

.boton {
  border: 2px solid #fff;
  border-radius: 15px;
  background: transparent;
  color: #fff;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer; }

.btn-amarillo {
  border: 2px solid #ffc100e0;
  background: #ffc100;
  background: -moz-radial-gradient(circle, rgba(255, 193, 0, 0.647496) 0%, #ffc100 75%);
  background: -webkit-radial-gradient(circle, rgba(255, 193, 0, 0.647496) 0%, #ffc100 75%);
  background: radial-gradient(circle, rgba(255, 193, 0, 0.647496) 0%, #ffc100 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc100",endColorstr="#ffc100",GradientType=1); }

.btn-amarillo:hover {
  background: #ffc100;
  background: -moz-radial-gradient(circle, #ffc100 0%, rgba(255, 193, 0, 0.647496) 40%);
  background: -webkit-radial-gradient(circle, #ffc100 0%, rgba(255, 193, 0, 0.647496) 40%);
  background: radial-gradient(circle, #ffc100 0%, rgba(255, 193, 0, 0.647496) 40%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc100",endColorstr="#ffc100",GradientType=1); }

.color_activo {
  color: #61CE70 !important; }

.color_fondo {
  color: #ffc100e0; }

.display_none {
  display: none !important; }

.display_block {
  display: block !important; }

.opacity_1 {
  opacity: 1 !important;
  transform: translate(0, 0) !important; }

.opacity_50 {
  opacity: 0.5 !important;
  cursor: not-allowed !important; }

.alerta {
  color: red !important; }

.exito {
  color: green !important; }

.borde__alerta {
  border: 2px red solid !important; }

.borde__exito {
  border: 2px green solid !important; }

.posicion_a {
  top: 35px; }
  .posicion_a .menu__izq .titulo__menu {
    color: #fff; }
  .posicion_a .menu__der li a {
    color: #fff; }

.posicion_b {
  top: 0px; }
  .posicion_b .menu__izq .titulo__menu {
    color: #000; }
  .posicion_b .menu__der li a {
    color: #000; }

.contenedor__menu {
  width: 100%;
  height: 35px;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  z-index: 101 !important;
  transition: all 0.3s ease; }
  .contenedor__menu .menu__izq {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 55px; }
    .contenedor__menu .menu__izq .titulo__menu {
      height: 100%;
      margin: 0;
      line-height: 35px;
      vertical-align: center;
      font-weight: 800;
      font-size: 14px;
      font-style: italic; }
    .contenedor__menu .menu__izq .darkmode {
      margin-right: 15px;
      height: 25px;
      background: #343d5b;
      padding: 0 3px;
      border: none;
      border-radius: 1000px;
      position: relative;
      cursor: pointer;
      display: flex;
      outline: none; }
      .contenedor__menu .menu__izq .darkmode.active {
        background: orange; }
        .contenedor__menu .menu__izq .darkmode.active .img__darkmode {
          right: -2px;
          left: unset; }
      .contenedor__menu .menu__izq .darkmode .img__darkmode {
        height: 30px;
        width: 30px;
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        right: unset;
        transition: all 0.3s ease; }
      .contenedor__menu .menu__izq .darkmode span {
        width: 25px;
        height: 25px;
        line-height: 25px;
        display: block;
        background: none;
        color: #fff; }
  .contenedor__menu input {
    display: none; }
  .contenedor__menu label {
    border-radius: 5px;
    font-size: 20px;
    padding: 1px 5px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 6px; }
  .contenedor__menu .icono_m {
    display: none;
    opacity: 1; }
  .contenedor__menu .icono_x {
    display: none;
    opacity: 1;
    font-size: 23px; }
  .contenedor__menu .menu__der {
    height: 100%;
    width: 60%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; }
    .contenedor__menu .menu__der li {
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: center; }
      .contenedor__menu .menu__der li a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        font-weight: 600;
        font-size: 14px;
        text-decoration: none; }

.portada {
  width: 100%;
  height: 100vh;
  background: url(../img/portada.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  body.darkmode .portada {
    background: url(../img/portada2.jpg);
    background-size: cover; }
  body.darkmode .portada:hover {
    background-position: bottom; }
  .portada .contenedor {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .portada .contenedor h1 {
      font-weight: 700;
      font-size: 45px;
      font-style: italic; }
    .portada .contenedor h2 {
      font-size: 20px; }
    .portada .contenedor button {
      margin-top: 100px; }
  .portada .marco__sup {
    height: 20px;
    position: fixed;
    background: #ffc1007d;
    z-index: 100; }
    body.darkmode .portada .marco__sup {
      background: #ffc100e0; }
  .portada .marco__der {
    z-index: 101;
    width: 20px;
    position: fixed;
    background: #ffc1007d;
    top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body.darkmode .portada .marco__der {
      background: #ffc100e0; }
    .portada .marco__der a {
      text-decoration: none;
      color: #000;
      font-size: 6px;
      margin: 8px 0; }
  .portada .marco__inf {
    z-index: 101;
    height: 20px;
    position: fixed;
    background: #ffc1007d;
    display: flex;
    justify-content: center;
    align-items: center; }
    body.darkmode .portada .marco__inf {
      background: #ffc100e0; }
    .portada .marco__inf .inf_continua {
      font-size: 11px; }
      .portada .marco__inf .inf_continua span {
        margin: 0 10px; }
      .portada .marco__inf .inf_continua a {
        color: #fff;
        text-decoration: none; }
        body.darkmode .portada .marco__inf .inf_continua a {
          color: #000; }
    .portada .marco__inf .inf_inicio {
      font-size: 11px; }
      .portada .marco__inf .inf_inicio span {
        margin: 0 10px; }
      .portada .marco__inf .inf_inicio a {
        color: #fff;
        text-decoration: none; }
        body.darkmode .portada .marco__inf .inf_inicio a {
          color: #000; }
  .portada .marco__izq {
    z-index: 101;
    width: 20px;
    position: fixed;
    background: #ffc1007d;
    top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body.darkmode .portada .marco__izq {
      background: #ffc100e0; }
    .portada .marco__izq a {
      text-decoration: none;
      color: #000;
      font-size: 15px;
      margin: 8px 0; }
  .portada .sup_a {
    width: calc(100% - 30px);
    top: 15px; }
  .portada .sup_b {
    height: 35px;
    top: 0;
    right: 0;
    width: 100%; }
  .portada .der_a {
    height: calc( 100% - 70px);
    right: 15px; }
  .portada .der_b {
    height: calc( 100% - 55px);
    right: 0; }
  .portada .inf_a {
    width: calc(100% - 30px);
    bottom: 15px; }
  .portada .inf_b {
    left: 0;
    bottom: 0;
    width: 100%; }
  .portada .izq_a {
    height: calc( 100% - 70px);
    left: 15px; }
  .portada .izq_b {
    height: calc( 100% - 55px);
    left: 0; }

.separador-section {
  width: 100%;
  height: 250px;
  background: #ffc1007d;
  position: relative;
  z-index: 10;
  margin-bottom: 50px; }
  .separador-section .tecnologias {
    padding: 15px 25px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr); }
    .separador-section .tecnologias .tarjeta {
      display: flex;
      justify-content: center; }
      .separador-section .tecnologias .tarjeta .descripcion .titulo {
        font-size: 18px; }
      .separador-section .tecnologias .tarjeta .descripcion ul {
        position: relative;
        left: 0;
        top: -15px;
        list-style: none;
        margin: 0; }
        .separador-section .tecnologias .tarjeta .descripcion ul li {
          margin: 5px auto;
          position: relative;
          left: -35px;
          font-size: 15px; }
  .separador-section .iconos-tecnologias {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 15px;
    grid-template-rows: auto;
    margin-right: 2em; }
    .separador-section .iconos-tecnologias li {
      display: inline-block;
      margin: 0 auto;
      font-size: 30px; }
      .separador-section .iconos-tecnologias li i:hover {
        color: #ffc100e0; }
  .separador-section .efecto-ola {
    position: absolute;
    left: 20px;
    bottom: 0;
    width: calc( 100% - 40px); }
    .separador-section .efecto-ola div {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1; }
      body.darkmode .separador-section .efecto-ola div .ola1 {
        fill: rgba(0, 0, 0, 0.2) !important; }
      body.darkmode .separador-section .efecto-ola div .ola2 {
        fill: rgba(0, 0, 0, 0.5) !important; }
      body.darkmode .separador-section .efecto-ola div .ola3 {
        fill: black !important; }

.sobreMi h3, .porfolio h3, .contacto h3 {
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 60px;
  font-weight: 400; }

.sobreMi h4, .porfolio h4, .contacto h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  position: relative;
  top: -45px; }

.sobreMi .contenedor-desc, .porfolio .contenedor-desc, .contacto .contenedor-desc {
  position: relative;
  top: -50px; }
  .sobreMi .contenedor-desc p, .porfolio .contenedor-desc p, .contacto .contenedor-desc p {
    width: 75%;
    margin: 15px auto;
    font-size: 18px; }

.sobreMi {
  display: flex;
  flex-direction: column; }
  .sobreMi h3 span {
    color: #ffc100e0; }
    body.darkmode .sobreMi h3 span {
      color: #ffc1007d; }
  .sobreMi a {
    width: 50px;
    margin: auto;
    text-decoration: none; }

.portfolio-titulo {
  margin: 0; }
  .portfolio-titulo h3 span {
    color: #ffc100e0; }
    body.darkmode .portfolio-titulo h3 span {
      color: #ffc1007d; }
  .portfolio-titulo h4 {
    margin: 15px 0;
    font-size: 20px; }

.trabajos-porfolio {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 25px; }
  .trabajos-porfolio .card {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .trabajos-porfolio .card .porfolio-item {
      position: absolute; }
      .trabajos-porfolio .card .porfolio-item i {
        font-size: 80px;
        color: #fff; }
    .trabajos-porfolio .card img {
      width: 100%;
      border-radius: 15px; }
  .trabajos-porfolio .card:hover {
    cursor: pointer; }

.contacto {
  background: url(../img/oficina.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0 20px;
  padding: 100px; }
  body.darkmode .contacto {
    background: url(../img/oficina2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center; }
  .contacto .contenedor-form {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px; }
    .contacto .contenedor-form .datos-contacto {
      grid-column: span 2;
      display: flex;
      flex-direction: column; }
      .contacto .contenedor-form .datos-contacto h3 {
        position: relative;
        top: -50px;
        display: flex;
        justify-content: center;
        overflow: hidden; }
        .contacto .contenedor-form .datos-contacto h3 div.animacion {
          transform: translateY(-60px); }
        .contacto .contenedor-form .datos-contacto h3 div {
          display: flex;
          flex-direction: column;
          position: relative;
          transition: all 0.3s ease; }
          .contacto .contenedor-form .datos-contacto h3 div .segunda-linea {
            position: absolute;
            top: 60px; }
      .contacto .contenedor-form .datos-contacto ul {
        list-style: none;
        position: relative;
        top: -100px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 10px; }
        .contacto .contenedor-form .datos-contacto ul .iconos {
          grid-column: span 1;
          display: inline-block;
          height: 5px;
          line-height: 5px;
          text-align: center;
          vertical-align: middle;
          margin: 5px 0; }
          .contacto .contenedor-form .datos-contacto ul .iconos i {
            margin: 5px 0; }
        .contacto .contenedor-form .datos-contacto ul .datos-iconos {
          grid-column: span 9;
          display: inline-block;
          text-align: left;
          margin: 5px 0; }
          .contacto .contenedor-form .datos-contacto ul .datos-iconos li {
            margin: 5px 0; }
      .contacto .contenedor-form .datos-contacto .redes-sociales {
        position: relative;
        top: -100px;
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: left;
        margin-left: 27px; }
        .contacto .contenedor-form .datos-contacto .redes-sociales a {
          margin: 20px;
          font-size: 20px;
          color: #000; }
          body.darkmode .contacto .contenedor-form .datos-contacto .redes-sociales a {
            color: #fff; }
          .contacto .contenedor-form .datos-contacto .redes-sociales a li {
            width: 100%; }
        .contacto .contenedor-form .datos-contacto .redes-sociales a:hover {
          color: #ffc100e0; }
    .contacto .contenedor-form .formulario {
      grid-column: span 3;
      width: 100%; }
      .contacto .contenedor-form .formulario input, .contacto .contenedor-form .formulario textarea {
        display: block;
        width: 92%;
        padding: 10px;
        border: 2px solid #ffc100e0;
        border-radius: 10px;
        margin: 10px 0; }
      .contacto .contenedor-form .formulario textarea {
        min-height: 120px;
        max-height: 300px;
        min-width: 92%;
        max-width: 92%; }
      .contacto .contenedor-form .formulario .contenedor {
        padding: 20px; }
        .contacto .contenedor-form .formulario .contenedor .btn-formulario {
          margin: 0 15px;
          font-size: 18px; }
  .contacto .mensaje__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .contacto .mensaje__form .spinner {
      display: flex;
      justify-content: center; }
    .contacto .mensaje__form .mensaje p {
      font-size: 18px; }

footer {
  background: #000;
  height: 60px;
  margin: 0px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); }
  footer .footer__nombre {
    grid-column: span 3;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: 400;
    font-size: 20px; }
    footer .footer__nombre span {
      font-size: 15px;
      font-style: italic; }
  footer .footer__redes-sociales {
    grid-column: span 1;
    line-height: 60px;
    text-align: center;
    vertical-align: middle; }
    footer .footer__redes-sociales a {
      margin: 15px;
      font-size: 20px;
      color: #fff; }
    footer .footer__redes-sociales a:hover {
      color: #ffc100e0; }
  footer .footer__flecha-arriba {
    display: none;
    grid-column: span 1;
    line-height: 60px;
    text-align: right;
    vertical-align: middle;
    margin-right: 50px; }
    footer .footer__flecha-arriba a {
      color: #fff;
      font-size: 20px; }
    footer .footer__flecha-arriba a:hover {
      color: #ffc100e0; }

@media screen and (max-width: 950px) {
  .contacto {
    padding: 0 50px; }
    .contacto .contenedor-form {
      display: block; }
      .contacto .contenedor-form .datos-contacto {
        position: relative;
        top: 80px; }
        .contacto .contenedor-form .datos-contacto ul .iconos {
          display: flex;
          flex-direction: column; }
    .contacto .mensaje__form {
      padding: 25px 0; }
  #modales__listado .modal .modal__contenedor {
    width: 70%; } }

@media screen and (max-width: 780px) {
  header .contenedor__menu {
    background-color: #ffc100e0;
    top: 0; }
    header .contenedor__menu .menu__izq .titulo__menu {
      color: #000; }
    header .contenedor__menu .menu__der {
      width: 30%;
      margin: 0px;
      padding: 5px;
      flex-direction: column;
      justify-content: left;
      background-color: #ffc1007d;
      position: fixed;
      right: 0;
      top: 35px;
      height: 0;
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden; }
      header .contenedor__menu .menu__der li {
        margin: 0;
        border-bottom: 1px solid #000; }
        header .contenedor__menu .menu__der li a {
          font-size: 15px;
          font-weight: 500; }
        header .contenedor__menu .menu__der li a:hover {
          transform: scale(1); }
    header .contenedor__menu .icono_m {
      display: block;
      opacity: 1; }
    header .contenedor__menu input:checked ~ ul {
      height: 120px;
      visibility: visible;
      opacity: 1; }
    header .contenedor__menu input:checked ~ .icono_m {
      display: none;
      opacity: 0; }
    header .contenedor__menu input:checked ~ .icono_x {
      display: block;
      opacity: 1; }
  .portada .marco__sup {
    display: none; }
  .portada .marco__der {
    display: none; }
  .portada .marco__izq {
    display: none; }
  .portada .marco__inf {
    display: none; }
  .portada:hover {
    background-position: left !important; }
    .portada:hover .contenedor h1 {
      transition-property: none;
      transform: scale(1) !important; }
    .portada:hover .contenedor h2 {
      transition-property: none;
      transform: scale(1) !important; }
    .portada:hover .contenedor button {
      transition-property: none;
      transform: scale(1) !important; }
  .separador-section .tecnologias {
    padding: 0 15px; }
  .separador-section .iconos-tecnologias {
    grid-template-columns: repeat(7, 1fr); }
    .separador-section .iconos-tecnologias li {
      font-size: 25px; }
  .separador-section .efecto-ola {
    left: 0;
    width: 100%; }
  .porfolio .trabajos-porfolio {
    grid-template-columns: repeat(2, 1fr); }
  #modales__listado .modal .modal__contenedor {
    width: 70%; }
  .contacto {
    margin: 0px; }
  footer {
    margin: 0px; }
    footer .footer__flecha-arriba {
      display: block;
      margin-right: 30px; } }

@media screen and (max-width: 575px) {
  header .contenedor__menu .menu__izq {
    padding-left: 20px; }
  .portada .contenedor h1 {
    font-size: 40px; }
  .portada .contenedor h2 {
    font-size: 17px; }
  .portada .contenedor .boton {
    font-size: 14px; }
  .sobreMi h3, .porfolio h3, .contacto h3 {
    font-size: 55px; }
  .sobreMi h4, .porfolio h4, .contacto h4 {
    font-size: 25px; }
  .separador-section .tecnologias .tarjeta .descripcion .titulo {
    font-size: 16px; }
  .separador-section .tecnologias .tarjeta .descripcion ul li {
    font-size: 13px; }
  .porfolio .portfolio-titulo h4 {
    font-size: 20px; }
  .contacto .contenedor-form .datos-contacto ul {
    padding-left: 0px; }
  .contacto .contenedor-form .datos-contacto .redes-sociales {
    margin-left: 0px; }
  .contacto .contenedor-form .formulario .contenedor {
    padding: 5px; }
    .contacto .contenedor-form .formulario .contenedor .btn-formulario {
      margin: 0 5px; }
    .contacto .contenedor-form .formulario .contenedor .boton {
      padding: 10px 15px;
      font-size: 15px; }
  .contacto .mensaje__form .spinner {
    font-size: 15px; }
  .contacto .mensaje__form .mensaje p {
    font-size: 15px; }
  footer {
    grid-template-columns: repeat(6, 1fr); }
    footer .footer__nombre {
      grid-column: span 4;
      font-size: 18px; }
      footer .footer__nombre span {
        font-size: 13px; }
    footer .footer__redes-sociales a {
      font-size: 18px;
      margin: 10px; }
    footer .footer__flecha-arriba {
      margin-right: 20px; }
      footer .footer__flecha-arriba a {
        font-size: 18px; }
  #modales__listado .modal .modal__contenedor {
    width: 80%; }
    #modales__listado .modal .modal__contenedor .parte_inferior .modal__parrafo {
      font-size: 15px; }
    #modales__listado .modal .modal__contenedor .parte_inferior button {
      font-size: 15px; } }

@media screen and (max-width: 480px) {
  .portada .contenedor h1 {
    font-size: 35px; }
  .portada .contenedor h2 {
    font-size: 15px; }
  .portada .contenedor button {
    font-size: 13px; }
  .portada:hover .contenedor h1 {
    transform: scale(1) !important; }
  .portada:hover .contenedor h2 {
    transform: scale(1); }
  .portada:hover .contenedor button {
    transform: scale(1); }
  .sobreMi h3, .porfolio h3, .contacto h3 {
    font-size: 45px; }
  .sobreMi h4, .porfolio h4, .contacto h4 {
    font-size: 18px; }
  .sobreMi .contenedor-desc p, .porfolio .contenedor-desc p, .contacto .contenedor-desc p {
    font-size: 15px; }
  .separador-section .tecnologias .tarjeta .descripcion .titulo {
    font-size: 14px; }
  .separador-section .tecnologias .tarjeta .descripcion ul li {
    font-size: 12px; }
  .porfolio .trabajos-porfolio {
    width: 65%;
    grid-template-columns: repeat(1, 1fr); }
  .contacto .contenedor-form .datos-contacto ul .iconos i {
    font-size: 14px; }
  .contacto .contenedor-form .datos-contacto ul .datos-iconos li {
    font-size: 15px; }
  .contacto .contenedor-form .formulario .contenedor {
    padding: 0px; }
  footer .footer__nombre {
    font-size: 16px; }
    footer .footer__nombre span {
      font-size: 11px; }
  footer .footer__redes-sociales a {
    font-size: 16px;
    margin: 5px; }
  footer .footer__flecha-arriba a {
    font-size: 16px; }
  #modales__listado .modal .modal__contenedor {
    width: 80%; }
    #modales__listado .modal .modal__contenedor .parte_inferior .modal__parrafo {
      font-size: 13px; }
    #modales__listado .modal .modal__contenedor .parte_inferior button {
      font-size: 13px; } }

header .contenedor__menu .menu__der li a {
  transition: all 0.3s ease; }

header .contenedor__menu .menu__der li a:hover {
  font-weight: 700;
  color: #61CE70;
  transform: scale(1.1); }

.portada {
  transition: background-position 4s ease; }
  .portada .contenedor button:hover {
    background: #10209A40; }
  .portada .contenedor a {
    transition: transform 1s ease; }
  .portada .contenedor a:hover {
    transform: scale(1.2); }
  .portada .marco__sup {
    transition: all 1s ease; }
  .portada .marco__inf {
    transition: all 1s ease; }
  .portada .marco__der {
    transition: all 1s ease; }
  .portada .marco__izq {
    transition: all 1s ease; }

.portada:hover {
  background-position: bottom; }
  .portada:hover .contenedor h1 {
    transition: all 2s ease;
    transform: scale(1.11); }
  .portada:hover .contenedor h2 {
    transition: all 2s ease;
    transform: scale(1.15); }
  .portada:hover .contenedor .boton {
    transition: transform 2s ease;
    transform: scale(1.05); }

.separador-section .iconos-tecnologias li i {
  transition: all 0.5s ease; }

.separador-section .iconos-tecnologias li i:hover {
  transform: rotate(360deg);
  cursor: pointer; }

.trabajos-porfolio .card img {
  transition: opacity 0.3s ease; }

.trabajos-porfolio .card img:hover {
  opacity: 0.75; }

.modal {
  transition: opacity 0.6s; }
  .modal .modal__contenedor {
    transform: translateY(-110vh);
    transition: transform 0.8s ease 0.8s; }

.modal--show {
  transition: opacity 0.6s; }
  .modal--show .modal__contenedor {
    transform: translateY(0);
    transition: transform 0.8s ease 0.8s; }

footer .footer__nombre {
  transition: all 2s ease;
  opacity: 0;
  transform: translate(-500px, 0); }

footer .footer__redes-sociales {
  transition: all 1.5s ease;
  opacity: 0;
  transform: translate(-300px, 0); }

footer .footer__flecha-arriba {
  transition: all 1.5s ease;
  opacity: 0;
  transform: translate(-300px, 0); }

.modal {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none; }
  .modal .modal__contenedor {
    width: 50%;
    border-radius: 6px;
    margin: auto;
    background: #fff;
    display: grid;
    gap: 0.5em;
    place-items: center;
    grid-auto-columns: 100%; }
    body.darkmode .modal .modal__contenedor {
      background: #222; }
    .modal .modal__contenedor .parte_superior {
      width: 100%;
      height: 30px;
      background: #ffc1007d;
      border-radius: 6px 6px 0 0; }
      body.darkmode .modal .modal__contenedor .parte_superior {
        background: #ffc100e0; }
      .modal .modal__contenedor .parte_superior div {
        position: absolute;
        top: 5px;
        left: 15px; }
        .modal .modal__contenedor .parte_superior div a {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          margin: 0 2px; }
          body.darkmode .modal .modal__contenedor .parte_superior div a {
            color: #000; }
      .modal .modal__contenedor .parte_superior .modal__close {
        text-decoration: none;
        position: absolute;
        top: 5px;
        right: 15px;
        color: #fff;
        font-size: 20px;
        font-weight: 500; }
        body.darkmode .modal .modal__contenedor .parte_superior .modal__close {
          color: #000; }
    .modal .modal__contenedor .modal__titulo {
      font-size: 20px; }
    .modal .modal__contenedor .modal__img {
      width: 65%;
      opacity: 0.9;
      max-width: 400px;
      border-radius: 6px; }
    .modal .modal__contenedor .parte_inferior {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 25px 0; }
      .modal .modal__contenedor .parte_inferior .modal__parrafo {
        margin: 15px; }
        .modal .modal__contenedor .parte_inferior .modal__parrafo span {
          font-style: italic; }
      .modal .modal__contenedor .parte_inferior a {
        margin: 20px; }

.modal--show {
  opacity: 1;
  pointer-events: unset; }

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both; }

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both; }

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #0288d1;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; }

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s; }

.sk-chase-dot:nth-child(2) {
  animation-delay: -1.0s; }

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s; }

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s; }

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s; }

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s; }

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s; }

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1.0s; }

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s; }

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s; }

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s; }

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s; }

@keyframes sk-chase {
  100% {
    transform: rotate(360deg); } }

@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg); } }

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); }
  100%,
  0% {
    transform: scale(1); } }
